@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;

}

.main {
    background-image: url(assets/images/bg.img.1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 120vh;
    position: relative;
}

.main .box {
    height: 120vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

nav img {
    color: red;
    width: 10rem;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 110px);
    font-family: "Martel Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 28px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
     text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(77, 74, 74);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 5px 21px;
    font-weight: 200;
    font-size: 20px;
    color: white;
    background-color: rgba(45, 43, 43, 0.171);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.317);
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 24px;
    font-weight: 600;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main input {
    border-radius: 4px;
    font-weight: 700;
    color: white;
    padding: 20px 115px 15px 24px;
    font-size: 18px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(215 211 211 / 50%);
}

.first {
    display: flex;
    /* justify-content: center; */
    max-width: 70VW;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
     position: relative;
}

.secImg img {
    position: relative;
    width: 555px;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 53px;
    right: 0;
    width: 401px; 
} 

section.first>div {
    display: flex;
    flex-direction: column;
    /* gap: 28px; */
    padding: 34px 0px;
}

section.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: bolder;
} 
section.first>div :nth-child(2) {
    font-size: 17px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
    cursor: pointer;
}

.faq h2 {
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

.faqbox:hover {
    background-color: rgb(77, 74, 74);
    color: white;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: rgb(96 94 94 / 54%);
    padding: 25px;
    max-width: 60vw;
    margin: 10px auto;
    cursor: pointer;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

.questions {
    font-size: 18px;
    padding: 35px 1px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    align-items: center;
    justify-content: center;
} 

@media screen and (max-width: 1200px) { */

  nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 505px;
    }

    .secImg video {
        width: 505px;
    } 

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
        padding: 30px;
    }

    footer {
         max-width: 90vw;
    }

    .footer-items{ 
        align-items: center;
    }
} 

@media screen and (max-width: 1200px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
    }
}

.footer a {
    font-size: 16px;
    color: white;
}

.footer-items { 
    display: flex;
    flex-direction: column;
    gap: 23px;
}